.App {
    width: 40%;
    margin: 2em auto;
    background-color: rgb(75, 74, 74);
    border-radius: 5px;
    color: white;
}

.todo-header {
    padding: 0.5em;
    border-bottom: 1px solid black;
    text-align: center;    
}

.todo-header h1 {
    margin: 0;
}

.todo-form {
    padding: 1em;
    margin: 0.2em;   
    border-bottom: 1px solid black;
}

.todo-form h2, 
.todo-list h2 {
    text-align: center;
    margin-top: 0;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-control label {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: .4em;
}

.form-control input {
    border: 1px solid black;
    border-radius: 2px;
    background-color: rgb(24, 20, 20);
    padding: 0.5em;
    color: white;
    
}

input[type="submit"] {
    background-color: rgb(46, 45, 45);
    color: white;
    display: block;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1em;
    cursor: pointer;
}

.todo-list {
    padding: 0 1em 2em;
    margin: 1em 2em;
}

.todo-list h2 {
    margin-bottom: 0;
}

.todo-list p {
    text-align: center;
}

.todo {
    border-bottom: 1px solid black;    
}

.todo h3 {
    margin-bottom: .5em;
}

.todo-done {
    text-decoration: line-through;
    color: rgb(187, 65, 171);
}

.todo p {
    text-align: left;
    font-style: italic;
    font-size: 1em;
    margin-bottom: 1.5em;    
}

.todo svg {
    font-size: 1.2em;
    cursor: pointer;
}

.todo svg:hover {
    color: rgb(187, 65, 171);
}